@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
    width: 28px; /* Más pequeño */
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, #F9A827 94%, #0000) top/6px 6px no-repeat, /* Ajustado el tamaño */
      conic-gradient(#0000 30%, #F9A827);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0); /* Ajustado el tamaño */
    animation: l13 1.5s infinite linear; /* Animación más lenta (2s en lugar de 1s) */
}

@keyframes l13 {
    100% { transform: rotate(1turn); }
}
